.slider-container {
    width: 100%;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .card {
    width: 301px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 20px;
    box-sizing: border-box;
  }
  
